.tab-content {
  background: #fff;
  padding: {
    top: 20px;
    bottom: 1px;
    left: 15px;
    right: 15px;
  }
  // padding: 20px 15px;
  border-top: 1px solid $nav-tabs;
  // border-left: 1px solid $nav-tabs;
  // border-right: 1px solid $nav-tabs;
  // border-bottom: 1px solid $nav-tabs;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;

  .active {
    // color: lighten($black;
    color: lighten($color: $black, $amount: 30)
  }
}

.register-list {
  padding-left: 9px;
}

.nav-tabs {
  border-bottom: 0px;
}

.form-check {
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
  // margin: 0px 10px;
}


.card {
  border: 0;
}

.system {
  padding-bottom: 10px;
  
  button {
    width: 100%;
    color: $white;
    margin: 5px 0;
    font: {
      weight: 600;
    }
    // text: {
    //   transform: uppercase;
    // }

    &:focus {
      box-shadow: none;
    }
  }
}
