.about-wrapper {
  text-align: center;

  .about-header {
    padding: 100px 0;
    height: 300px;
    color: $white;
    background: linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ), url('./assets/images/bg1.jpg');
    background-size: cover;
  }

  .lead {
    font: {
      family: $catamaran;
      size: 1.15rem;
      weight: 400;
    }
  }

  .owners {
    padding-top: 25px;
    img {
      width: 200px;
      height: auto;
      border-radius: 100px;
      margin-bottom: 20px;
    }
  }
}



// .middle {
//   line-height: 155px;
//   vertical-align: middle;
// }