.me-wrapper {
  margin: 0 auto;
  text-align: center;
  color: $white;

  a {
    color: $white;
  }

  .favourite {
    background: $devly-color;
  }

  .settings {
    background: #feb062;
  }

  .view-profile {
    background: #33a8d1;
  }

  .edit-company-profile {
    background: #4e9525;
  }

  .edit-developer-profile {
    background: #ff5c00;
  }

  .logout {
    background: #232931;
  }

  img {
    margin: 10px auto;
    margin-bottom: 20px;
    display: block;
    width: 100px;
    height: auto;
  }

  .card {
    margin: 0 auto;
    width: 20rem;
    margin-bottom: 1rem;
    // height: 220px;
  }
}